<div class="rounded-2xl p-6 bg-zinc-100 dark:bg-zinc-800 mb-10 space-y-3">

		<h3 class="font-bold text-lg">{{ i18n "aside_need_help" }}</h3>
		<p class="text-sm text-zinc-700 dark:text-zinc-300">{{ i18n "aside_help_desc" }}</p>
		<ul class="text-sm text-zinc-700 dark:text-zinc-300 space-y-1">
			<li><a class="underline" href="https://spawn.ctrl-alt-gg.hu">spawn.ctrl-alt-gg.hu</a> - {{ i18n "aside_lan_portal" }}</li>
			<li><a class="underline" href="https://servers.ctrl-alt-gg.hu">servers.ctrl-alt-gg.hu</a> - {{ i18n "aside_server_status" }}</li>
			<li>{{ i18n "aside_discord" }} - #general</li>
		</ul>

</div>
